body {
    font-family: 'Poiret One', cursive;
    background-color: #14274e;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-family: 'Potta One', cursive;
    color: #f8dc81;
}